.mainDiv {
    margin-bottom: 10%;
}

.buttonsDiv {
    display: flex;
    justify-content: center;
}

.buttonsDiv button {
    margin: 15px 5%;
}

h2 {
    margin-left: 25%;
    margin-bottom: 2%;
}

.informationsTable {
    max-width: 300px;
    margin: auto;
}

.accountsTable {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.loansTable {
    max-width: 1500px;
    margin: auto;
    text-align: center;
}